@import '../../styles/mixins/responsive.scss';
@import '../../styles/variables/colors.scss';

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 4rem 1fr;
  grid-template-columns: 10rem 1fr;

  @include respond(phone) {
    grid-template-rows: 4rem 2rem 1fr;
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }
}

.head {
  grid-column: 1 / -1;
  border-bottom: 1px solid $secondaryColor;
}

.sidebar {
  background-image: linear-gradient(to right, $secondaryColor, $primaryColor);
  grid-column: 1 / 2;
  grid-row: 2 / -1;

  @include respond(phone) {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
  }
}

.main {
  height: 100%;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  background-color: $secondaryColor;
  @include respond(phone) {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
  }
}

.btn {
  display: none;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  background-color: $grayDark;
  border: none;
  box-shadow: 0 -3px 6px 1px $gray;
  color: $white;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  outline: 0;

  &:focus {
    outline: 0;
  }

  @include respond(phone) {
    display: inline;
  }
}
