.home {
  display: grid;
  grid-template-rows: 5rem 1fr;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-auto-rows: 18rem;
  gap: 0.5rem;
}
